doctype html
html
 head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
 body.bg-dark.text-center
    .card.bg-dark.text-red.mx-auto(style="width: 1000px")
      .card-body
        h1.card-title.text-danger="My Contacts"
        table.table.table-bordered.text-white
          thead
            tr
              th="Name"
              th="Phone"
              th="Email"
          tbody
            each contact in contacts.contact1
              tr
                td=contact.name
                td=contact.phone
                td=contact.email
        h1.card-title.text-danger="Shared Contacts"
        table.table.table-bordered.text-white
          thead
            tr
              th="Name"
              th="Phone"
              th="Email"
          tbody
            each contact in contacts.shared
              tr
                td=contact.name
                td=contact.phone
                td=contact.email